# =============== #
# Unity generated #
# =============== #
UnityPlayer_Symbols.pdb

Temp/*
Library/*
Assets/ShaderForge/*
Assets/Examples/*
Assets/Standard Assets/*
Assets/Local/*


# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
obj/*
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ===== #
# Other #
# ===== #
*.zip
*.rar
*.psd
*.psd.meta
Assets/Examples.meta
Assets/ShaderForge.meta
Assets/Local.meta
Assets/StandardAssets.meta
Assets/Materials/LightingPresets/Test/*
Assets/Materials/LightingPresets/Test.meta
GGJ2018/Library/
GGJ2018/
